.delivery-fees-output {
    height: 70px;
    width: 90%;
    margin: 25px auto;
    border: solid 2px rgb(200, 200, 200);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.active {
    background-color: rgb(0, 194, 232);
    border: none;
}
