.btn-wrapper {
    width: 90%;
    margin: auto;
}

.btn {
    height: 50px;
    width: 100%;
    background-color: rgb(0, 194, 232);
    color: white;
    border: none;
    border-radius: 40px;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto,
        "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    font-weight: 700;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 30px;
}

.btn:hover {
    background-color: rgb(40, 205, 238);
}
