.btn {
    height: 40px;
    width: 300px;
    background-color: #009de0;
    color: white;
    border: none;
    border-radius: 40px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto,
        "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    font-weight: 700;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 180px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #35b1e6;
}
